.header {
  height: 40px;
  background-color: hsl(0, 0%, 3%);
  color: white;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
}
.headerName {
  font-size: 1.1em;
}
