@media only screen and (min-width: 764px) {
  .homeLanding {
    flex-direction: row;
    background-color: red;
    justify-content: space-between;
  }
}

.homeLanding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
